<hr>
<hr>
<hr>
<!-- <h3>Example Home</h3> -->

<div class="starter-template">
  <h1>Example Home</h1>
</div>

<br>
<hr>
<br>

<div class="starter-template">
  <a routerLink="/example/pagination">Pagination</a>
  <br>
  <a routerLink="/example/courses">Course Home</a>
</div>

<br>
<hr>
<br>

<joke-list-parent></joke-list-parent>

<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->
<br/>
<br/>
<br/>
<br/>
<!-- <h2>Test Custom Directive</h2>
<br/>
<input type="text" [appInputFormat]="'uppercase'"> -->
<br/>
<br/>
<br/>
<br/>
<!-- <h2>Test Template Driven Forms</h2>
<br/>
<contact-form></contact-form> -->
<br/>
<br/>
<br/>
<br/>
<!-- <h2>Test Reactive Forms</h2>
<br/>
<signup-form></signup-form> -->
<br/>
<br/>
<br/>
<br/>
<!-- <h2>Test Reactive Forms: FormArray</h2>
<br/>
<newcourse-form></newcourse-form> -->
<br/>
<br/>
<br/>
<br/>
<!-- <app-pagination
  [pageNumber]="pageNumber"
  [itemCount]="itemCount"
  [itemsPerPage]="itemsPerPage"
  [numberOfPageCombine]="numberOfPageCombine"
  [backgroundType]="backgroundType"
  [hiddenArrows]="hiddenArrows"
  [disableNavigation]="disableNavigation"
  (pageClick)="onPageClick($event)"
  >
</app-pagination> -->

<!-- <app-pagination2
  [pageNumber]="pageNumber"
  [itemCount]="itemCount"
  [itemsPerPage]="itemsPerPage"
  [numberOfPageCombine]="numberOfPageCombine"
  [backgroundType]="backgroundType"
  [hiddenArrows]="hiddenArrows"
  [disableNavigation]="disableNavigation"
  (pageClick2)="onPageClick2($event)"
>
</app-pagination2> -->

<br/>
<br/>
<br/>
<br/>
<!-- <h2>Test Steps</h2>
<app-steps
[steps]="steps"
(stepClick)="stepClick($event)"
>
</app-steps> -->

<br/>

<h2>Test Hosting</h2>
<app-card-hosting [cards]="cards">
</app-card-hosting>

<br/>
<br/>
<br/>
<br/>
<!-- <app-first-module>Testing first-module</app-first-module> -->
<br/>
<br/>
<br/>
<br/>
<!-- <h2>Test Consuming Http</h2>
<br/>
<app-consuming-http></app-consuming-http> -->
<br/>
<br/>
<br/>
<br/>
<div>
  <!-- <app-bootstrap-css></app-bootstrap-css> -->
</div>
