<ng-container>
  <h2>Course List</h2>
  <ul>
    <li *ngFor="let course of itemsOnPage">
      {{ course.courseId }} - {{ course.courseType }} : {{ course.courseName }}
    </li>
  </ul>

  <div *ngIf="!loading">
    <app-pagination2
        [paginationInputParam]="paginationInputParam"
        (pageClick2)="pageClick2($event)"
    >
    </app-pagination2>
  </div>
  <br>
  <hr>
  <br>

  <ul>
    <li *ngFor="let course of (beginnerCourses$ | async)">
      <a [routerLink]="['/example/course-select', course.courseId]">{{ course.courseId }}</a>

      <button 
        (click)="goToCourse('/example/course-select', course)"
        class="btn btn-primary btn-sm">Go To</button>

      {{ course.courseId }} - {{ course.courseType }} : {{ course.courseName }}
    </li>
  </ul>
</ng-container>
