<!-- <br>
<br>
<br>
<br>
<br>
<br> -->

<!-- <div class="container" style="margin-top: 70px;"> -->
<div class="container">

  <h2>Employee Details</h2>
  <p>
    <button class="btn btn-danger" (click)="addEmployee()"> Add Employee</button>
  </p>

  <ng-container *ngIf="!loading">

    <div class="col employee-container">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th class="d-none">Id1</th>
            <th>ID</th>
            <th>Name</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td class="d-none">{{employee.id}}</td>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>
              <button class="btn btn-success" (click)="deleteEmployee(employee)"> Delete</button>
              <button class="btn btn-success" (click)="editEmployee(employee)" style="margin-left: 20px;">
                Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-container>
</div>
