<div class="header-div">
  <h1 class="logo">Logo</h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a routerLink="/home">Home
          <span class="badge-num">
            0
          </span>
        </a></li>
      <li><a routerLink="/example/home">Example</a></li>
      <li><a routerLink="/sandbox/home">Sandbox</a></li>
      <li><a routerLink="/sandbox/home">Sandbox</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <!-- <span>X</span> -->
    <span></span>
  </label>
</div>