@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* 00: Basic setup */
:root {
    --nav-background: rgba(0, 214, 170, .85);
    --hamburger-margin-left: 1em;
    --nav-item-margin-bottom: 1em;
    --nav-a-font-size: 1.2rem;
}

// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }

// body {
//     margin: 0;
//     --background: rgba(0, 214, 170, .85);
//     font-family: 'Work Sans', sans-serif;
//     font-weight: 400;
// }

// .content {
//     height: 200vh;
//     background-image: url(//unsplash.it/1000/1000);
//     background-color: #333;
//     background-blend-mode: multiply;
//     background-size: cover;
//     display: grid;
//     place-items: center;
// }
